@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
        visibility: hidden;
    }


    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }


    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: hidden;
    }


    100% {
        opacity: 0;
        visibility: visible;
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
        visibility: hidden;
    }


    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(1rem);
        visibility: hidden;
    }


    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes nextLine {
    0% {
        opacity: 1;
        //transform: translateY(0rem);
    }

    40% {
        opacity: 1;
        transform: translateY(-9rem);
    }

    100% {
        opacity: 0;
        transform: translateY(-9rem);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0rem) ;
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: translateX(+4rem) ;
        visibility: hidden;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem) ;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
        visibility: visible;
    }
}

@keyframes fadeOutTop {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}


@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(3rem);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeIn-delay {
    &0 {
        animation: moveInLeft 1s;
        animation-fill-mode: backwards;
    }
    
    &1 {
        animation: moveInLeft 1s;
        animation-fill-mode: backwards;
        animation-delay: 0.2s;
    }

    &2 {
        animation: moveInLeft 1s;
        animation-fill-mode: backwards;
        animation-delay: 0.4s;
    }
}

.fadeInBottom {
    animation: moveInBottom 1s;
    animation-fill-mode: backwards;
}

.fadeOutTop {
    animation: fadeOutTop 1s;
    animation-fill-mode: backwards;
}

.fadeOutBottom {
    animation: fadeOutBottom 1s;
    animation-fill-mode: backwards;
}

.fadeOut {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

