.button {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 70px;
    height: 60%;

    font-family: "Roboto", sans-serif;
    font-size: 15px;
    
    outline: none;




    &-container {
        position: relative;
        float: right;
    }

    margin-right: 5px;
    margin-top: 20px;

    &-1 {
        background-color: transparent;
        color: white;
        border: 1px solid white; /* Green */
        
        
    }

    &-2 {
        background-color: white;
        // animation: moveInLeft 1s;
        // animation-fill-mode: backwards;
        margin-right: 10px;
        animation-delay: 0.2s;

        transition: transform 0.2s;
        &:hover {
            transform: translateY(5px);
        }
    }

    &-info {
        animation-delay: 0.4s;
        text-decoration: none;
        border-radius: 0;
        padding: 10px 40px;
        height: 60%;
        background-color: transparent;
        font-size: 15px;
        border: 0;
        outline: none;
        border-bottom: 2px solid white;

        margin-right: 10px;

        color: white;

        // animation: moveInLeft 1s;
        // animation-fill-mode: backwards;
        // animation-delay: 0.4s;

        transition: border-bottom 0.2s, transform 0.2s;
        &:hover {
            border-bottom: 2px solid $caret-color;
            transform: translateY(5px);
        }
    }

    &-export {
        padding: 10px 20px;
        //transform: translateX(-50%);
 
    }

    &-copy {
        padding: 10px 20px;
        background-color: black;
        color: white;

        &-green {
            background-color: green;
        }
    }

    &-flex {
        display: flex;
        position: fixed;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);


    }

}

.hidden {
    visibility: hidden;
}

