body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

.container {
    &__text-field {
        font-size: 5rem;
        color: $text-input-color;
        text-decoration: none;
        text-align: right;
        caret-color: $caret-color;
    }
}