body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.overflow-hidden{
   overflow: hidden;
}

html, body {margin: 0; }

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@import "abstracts/variables";

@import "base/animations";
@import "base/typography";
@import "base/icon-set";

@import "base/menu-bar";
@import "base/button";
@import "components/text-flow";
@import "components/writing-piece";
@import "components/export-dialog";

@import "pages/history";
@import "pages/home-page";
@import "pages/write-page";
