.title {
    top: 2%;
    left: 2%;
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    
    margin-top: 10px;
    margin-left: 2%;
    margin-bottom: 0;

    opacity: 0;

    &-fadeIn {
        animation: moveInRight 1s;
        animation-fill-mode: forwards;
    }

    &-sub {
        color: lightgray;
        font-weight: 500;
        font-size: 1rem;
        
        margin-bottom: 15px;
        margin-left: 1%;
        
        flex-grow: 1;
    
        align-self: flex-end;
        
        opacity: 0;

        animation-delay: 0.2s;
        
    }

}

.learn {
    position: absolute;
    color: lightgray;
    bottom: 4%;
    right: 50%;
    transform: translateX(50%);

    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

i {
    border: solid lightgray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.down {
    transform: rotate(45deg) translateX(-75%);
    position: absolute;
    

}

.stretch {
    transform: scale(1.5,1);
    position: absolute;
    bottom: 3%;
    left: 50%;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;

}

.info-container {
    position: relative;
    height: 100vh;
    //width: 100%;
}