html, body {margin: 0; height: 100%; }

.main-container {
  height: 100vh;
  background-color: $background-color;
  
  background-size: cover;
  background-position: top;
  position: relative;




}

.flex-container {
  display: flex;
  //background-color:red;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
    top: 0;
    width: 100%;
  background-color: black;
  z-index: 500;
  //border-bottom: 1px solid white;
}