html, body {margin: 0; height: 100%; overflow: hidden}

.main-container {
  height: 100vh;
  background-color: $background-color;
  
  background-size: cover;
  background-position: top;
  position: relative;
}

.flex-container {
  display: flex;
  //background-color:red;
  justify-content: space-between;
  flex-wrap: wrap;
  
}