html, body {margin: 0; height: 100%; overflow: hidden}

.container {
    height: 100vh;
    background-color: black;
    color: white; 
    background-size: cover;
    background-position: top;
    position: relative;
  
    &__text-field {
      position: absolute;
      top: 50%;
      width: 50%;
      transform: translateY(-50%);

      border: none;
      outline-width: 0;
      background-color: black;
    }

    &__filter {
      z-index: 100;
      position: absolute;
      top: 50%;
      width: 50%;
      height: 50%;

      background: linear-gradient( to left, rgba($color: #000000, $alpha: 0),  rgba($color: #000000, $alpha: 1.0));

      transform: translateY(-50%);
    }

}