body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutTop {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateY(-9rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-9rem);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0rem) translateY(0rem) rotate(0deg);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(4rem) translateY(0.5rem) rotate(5deg);
    visibility: hidden;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem) translateY(0.5rem) rotate(-5deg);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem) translateY(0rem) rotate(0deg);
    visibility: visible;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.text-flow__text-field {
  font-size: 4rem;
  color: white;
  text-decoration: none;
  text-align: right;
  caret-color: blue;
}

.button {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 70px;
  height: 60%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  outline: none;
  transition: transform 0.2s;
  margin-right: 5px;
  margin-top: 20px;
}

.button:hover {
  transform: translateY(5px);
}

.button-container {
  position: relative;
  float: right;
}

.button-1 {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /* Green */
  animation: moveInLeft 1s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.button-2 {
  background-color: white;
  animation: moveInLeft 1s;
  animation-fill-mode: backwards;
  margin-right: 10px;
}

.button-info {
  text-decoration: none;
  border-radius: 0;
  padding: 10px 40px;
  height: 60%;
  background-color: transparent;
  font-size: 15px;
  border: 0;
  outline: none;
  border-bottom: 2px solid white;
  margin-right: 10px;
  color: white;
  animation: moveInLeft 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
  transition: border-bottom 0.2s, transform 0.2s;
}

.button-info:hover {
  border-bottom: 2px solid blue;
}

.hidden {
  visibility: hidden;
}

.filter {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to left, transparent, black);
  transform: translateY(-50%);
  pointer-events: none;
}

.text-flow__text-field {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  width: 100%;
  border: none;
  outline-width: 0;
  background-color: black;
}

.text-flow__copy {
  background-color: transparent;
  width: 500000rem;
}

.text-flow__fade-up {
  animation: fadeOutTop 0.5s;
  animation-fill-mode: forwards;
}

.text-flow__count {
  position: absolute;
  color: white;
  font-size: 1rem;
  padding: 8px;
  border-radius: 10px;
  font-weight: 200;
  bottom: 0%;
  right: 1%;
  transition: color 0.5s, background-color 0.5s;
}

.text-flow__count__fadeIn {
  animation: fadeInLeft 0.5s;
  animation-fill-mode: forwards;
}

.text-flow__count__fadeOut {
  animation: fadeOutRight 0.5s;
  animation-fill-mode: forwards;
}

.text-flow__count__hidden {
  visibility: hidden;
}

.text-flow__count:hover {
  background-color: white;
  color: black;
}

.title {
  top: 2%;
  left: 2%;
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 10px;
  margin-left: 2%;
  margin-bottom: 0;
  opacity: 0;
}

.title-fadeIn {
  animation: moveInRight 1s;
  animation-fill-mode: forwards;
}

.title-sub {
  color: lightgray;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-left: 1%;
  flex-grow: 1;
  align-self: flex-end;
  opacity: 0;
  animation-delay: 0.2s;
}

.learn {
  position: absolute;
  color: lightgray;
  bottom: 4%;
  right: 50%;
  transform: translateX(50%);
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

i {
  border: solid lightgray;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.down {
  transform: rotate(45deg) translateX(-75%);
  position: absolute;
}

.stretch {
  transform: scale(1.5, 1);
  position: absolute;
  bottom: 3%;
  left: 50%;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.info-container {
  position: relative;
  height: 100vh;
}

html, body {
  margin: 0;
  height: 100%;
}

.main-container {
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: top;
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 500;
}
/*# sourceMappingURL=main.css.map */