body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutTop {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateY(-9rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-9rem);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0rem) translateY(0rem) rotate(0deg);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(4rem) translateY(0.5rem) rotate(5deg);
    visibility: hidden;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem) translateY(0.5rem) rotate(-5deg);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem) translateY(0rem) rotate(0deg);
    visibility: visible;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.text-flow__text-field {
  font-size: 4rem;
  color: white;
  text-decoration: none;
  text-align: right;
  caret-color: blue;
}

.text-flow__text-field {
  position: absolute;
  top: 50%;
  width: 100%;
  right: 0%;
  transform: translateY(-50%);
  border: none;
  outline-width: 0;
  background-color: black;
}

.text-flow__copy {
  background-color: transparent;
  width: 500000rem;
}

.text-flow__fade-up {
  animation: fadeOutTop 0.5s;
  animation-fill-mode: forwards;
}

.text-flow__filter {
  z-index: 100;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to left, transparent, black);
  transform: translateY(-50%);
  pointer-events: none;
}

.text-flow__count {
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  bottom: -1%;
  right: 1%;
  transition: color 0.5s, background-color 0.5s;
}

.text-flow__count__fadeIn {
  animation: fadeInLeft 0.5s;
  animation-fill-mode: forwards;
}

.text-flow__count__fadeOut {
  animation: fadeOutRight 0.5s;
  animation-fill-mode: forwards;
}

.text-flow__count__hidden {
  visibility: hidden;
}

.text-flow__count:hover {
  background-color: white;
  color: black;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: top;
  position: relative;
}

.write-page__container__text-field {
  position: absolute;
  top: 50%;
  width: 100%;
  right: 0%;
  transform: translateY(-50%);
  border: none;
  outline-width: 0;
  background-color: black;
}

.write-page__container__copy {
  background-color: transparent;
  width: 500000rem;
}

.write-page__container__fade-up {
  animation: fadeOutTop 0.5s;
  animation-fill-mode: forwards;
}

.write-page__container__filter {
  z-index: 100;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to left, transparent, black);
  transform: translateY(-50%);
  pointer-events: none;
}

.write-page__container__count {
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: 200;
}

.write-page__container__count-1 {
  bottom: -1%;
  right: 1%;
}

.write-page__container__count-2 {
  bottom: -1%;
  left: 1%;
}
/*# sourceMappingURL=main.css.map */