.filter {
    position: absolute;
    top: 50%;
    width: 50%;
    height: 50%;
    background: linear-gradient( to left, rgba($background-color, $alpha: 0),  rgba($background-color, $alpha: 1.0));
    transform: translateY(-50%);
    pointer-events: none;
    //background-color: blue;
}

.text-flow {
    &__text-field { 
        

        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        
        width: 100%;

        border: none;
        outline-width: 0;
        background-color: $background-color;
    }
  
    &__copy {
    background-color: transparent;
    width: 500000rem;
    }

    &__fade-up {
    animation: nextLine 0.5s;
    animation-fill-mode: forwards;
    }
  
      
  

}



 
  