.writing-piece {
    border: none;
    min-width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;

    margin: 1rem;
    padding: 1rem;

    &-button {
        background-color: black;
        color: white;
        z-index: 100;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1em;
        font-weight: 700;
        height: 10%;
        padding: 10px 6rem;

  
    }

    &-empty {
        position: absolute;
        font-size: 2.5rem;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
    }


    &-container {
        min-width: 30%;
        height: 80%;
      

 
        margin: 0%;
        border-radius: 10px;

        &-hidden {
            min-width: 35%;
            visibility: hidden;
        }
    }

    &-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    &-stat {
        
        width: 100%;
        text-align: center;
        justify-content: flex-end;
    }

    &-text {
        display: inline-block;
        flex-grow: 1;
        word-wrap: break-word;
        max-width: 100%;
        white-space: pre-wrap;
        overflow: scroll;
        

       

    }

}

.highlighted {
    transform: translateY(-10px);
    background-color: black;
    color: white;
}

.padding {
    margin: 1rem;
    //background-color: #E0E0E0;
    border-radius: 10px;
    height: 100%;
    transition: background-color 0.4s, transform 0.4s, color 0.4s;
}

